
:root {
    --primary-color: rgba(53, 99, 233, 1);
    --secondary-color: rgba(84, 166, 255, 1);
    --white-color: rgba(255, 255, 255, 1);
    --background-color: rgba(246, 247, 249, 1);
    --black-color: #000;
    --border: 1px solid rgba(195, 212, 233, 0.4);

}

body {
    padding-inline: 64px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
     
    .logo-search-wrapper {
        display: flex;
        gap: 84px;
        align-items: center;

        .search {
            padding: 10px 20px;
            border-radius: 25px;
            width: 492px;
            display: flex;
            align-items: center;
            gap: 15px;
            background: var(--white-color);
            border: var(--border);

            img{
                width: 24px;
                height: 24px;
                border-radius: 70px;
                padding-inline: 10px;
            }

            .input {
                border:none;
                flex:1;
                outline: none;
            }
            

            }
        }

    }


.cta-wrapper {
    display: flex;
    gap: 20px;
    align-items:center ;
    
    .cta {
        width: 44px;
        height: 44px;
        border-radius: 70px;
        border: var(--border);
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            width: 24px;
            height: 24px;                   
        }
        
        &:last-child {
            img {
                width:44px;
                height: 44px;
                border-radius: 50%;
            }
        }
    }

} 


        /* cards */

.cards {
    display: flex;
    height: 360px;
    margin-top: 32px;
    margin-left: 64px;
    gap: 50px;
    position: relative;
    overflow: hidden;
}        

.card1 {
    background-color:var(--secondary-color);
    border-radius: 25px;
    width: 640px;
}

.card2 {
    background-color: var(--primary-color);
    border-radius: 25px;
    width: 640px;
}

.content {
    color:var(--white-color);
    margin-top: 24px;
    margin-left: 24px;
    gap: 20px;
    width: 284px;

        h2 {
         font-size: 24px;   
         text-transform: capitalize;
        }
    
        p {
            margin-top: 20px;
            font-size: 16px;
        }
}

.cards img {
    position:absolute;
    bottom:20px;
    height: 115px;

}

button {
   height: 44px;
   width: 120px;
   border-radius: 4px;
   gap: 8px;
}

.btn1 {
    background-color: var(--primary-color);
}
        
.btn2 {
    background-color: var(--secondary-color);
}

